extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/register', method= 'post')
    fieldset
      label(for='username') Username
      input(id='username', type='text', name='username')
    fieldset
      label(for='password') Password
      input(id='password', type='password', name='password')
    fieldset
      input(type='submit', value='Submit')
  div
    a(href="/login") Login